CompileOptions:
	Add: [-Wall, -Wextra]

If:
	PathMatch: .*\.c
CompileOptions:
	Add: [-xc, -std=c11]

If:
	PathMatch: .*\.h
CompileFlags:
	Add: [-xc-header]

If:
	PathMatch: .*\.(cc|cpp)
CompileOptions:
	Add: [-xcpp, -std=c++23]

