BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
AccessModifierOffset: -4
InsertBraces: true
DerivePointerAlignment: false
PointerAlignment: Left
# AllowShortBlocksOnASingleLine: Empty
# AllowShortFunctionsOnASingleLine: All
# AllowShortEnumsOnASingleLine: false
# AllowShortIfStatementsOnASingleLine: Never
# AllowShortLoopsOnASingleLine: false
